body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/1431622.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.login-container, .access-denied-container, .success-container, .signup-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
}

button {
  padding: 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"], input[type="password"] {
  width: 93%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
}

p.signup-link {
  margin-top: 10px;
  color: #007BFF;
  cursor: pointer;
  font-size: 14px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
